body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}


.table th:nth-child(2), .table td:nth-child(2),
.table th:nth-child(5), .table td:nth-child(5),
.table th:nth-child(6), .table td:nth-child(6) {
    text-align: center;
}

     


@media (max-width: 768px) {


    .d-flex.justify-content-between.align-items-center {
        flex-direction: column;
        align-items: flex-start !important;
    }


    form.d-flex.gap-2 {
        flex-direction: column;
        width: 100%; 
        margin-top: 1rem; 
    }

    
    .table {
        font-size: 0.8rem;
    }
    .table th, .table td {
        padding: 0.6rem 0.3rem;
    }

    
    .table th:nth-child(5),
    .table td:nth-child(5) {
        display: none;
    }
}